<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<variable name="DefaultLayout"
							value="${time}  ${level:uppercase=true}: ${message} ${onexception:inner=${newline}${exception:format=Message,Type,Method,StackTrace:maxInnerExceptionLevel=5:innerFormat=Message,Type,Method,StackTrace}}"/>
		<targets>
			<target xsi:type="ColoredConsole" name="console" layout="${DefaultLayout}" useDefaultRowHighlightingRules="true" />
			<target name="file" xsi:type="File" layout="${DefaultLayout}" fileName="${basedir}/logs/${shortdate}.txt" />
		</targets>
		<rules>
			<logger name="*" minlevel="Info" writeTo="console,file" />
		</rules>
	</nlog>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="Key" value="24FoEzRtHoh5TI0hp*aO3Q((" />
		<add key="ApiUrl" value="https://api.stackexchange.com" />
		<add key="FilterQuestions" value="!Wy4EYid*f-r((M1bghlTV1I(ZBJy_yiX6F9ZPLM" />
		<!-- Access token request: https://stackexchange.com/oauth/dialog/?client_id=8592&scope=private_info&redirect_uri=http://example.com -->
		<add key="AccessToken" value="UsJLa8GlveA7HNYZWxq9WQ))" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>